<section class="text-center" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-8">
                <form name="contact" netlify action="thank-you" class="form--inline form-email" data-success="Sent! Thank you" data-error="Please fill in all fields correctly."> <span class="h4 inline-block">Hi, I'm</span>
                    <input type="text" name="Name" placeholder="Full Name" class="validate-required"> <span class="h4 inline-block">and I represent</span>
                    <input type="text" name="Company" placeholder="Company Name" class="validate-required"> <span class="h4 inline-block">I'm looking for someone to work with us on</span>
                    <div class="input-select">
                        <select class="validate-required" name="Need">
                            <option selected="selected" value="">Select</option>
                            <option value="ApplicationArchitecture">Application Architecture</option>
                            <option value="WebDevelopment">Web Development</option>
                            <option value="ProductDesign">Product Design</option>
                            <option value="SomethingElse">Something Else</option>
                        </select>
                    </div> <span class="h4 inline-block">My budget is around </span>
                    <div class="input-select">
                        <select class="validate-required" name="Budget">
                            <option selected="selected" value="">Select</option>
                            <option value="0-5k">&lt; $10,000</option>
                            <option value="10k-30k">$10,000 - $30,000</option>
                            <option value="30k-50k">$30,000 - $50,000</option>
                            <option value="50k+">$50,000 +</option>
                        </select>
                    </div> <span class="h4 inline-block">and I'm hoping to have the project completed by</span>
                    <input type="text" name="Date" placeholder="Date / Timeframe" class="validate-required"> <span class="h4 inline-block">Contact me via</span>
                    <input type="email" name="Email" placeholder="Email Address" class="validate-required validate-email"> <span class="h4 inline-block">or</span>
                    <input type="tel" name="Phone" placeholder="Phone Number" class="validate-required"> <span class="h4 inline-block">and we can discuss the project in more detail.</span>
                    <div>
                        <button type="submit" class="btn btn--primary type--uppercase">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
