<link href='{{ "css/socicon.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
<link href='{{ "css/bootstrap.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
<link href='{{ "css/flickity.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
<link href='{{ "css/stack-interface.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
<link href='{{ "css/theme-charcoal.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
<link href='{{ "css/custom.css" | absURL }}' rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet" type="text/css">
<link href='{{ "css/font-karla.css" | absURL }}' rel="stylesheet" type="text/css">
