<footer class="footer-7 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year">2017</span> Mel van Londen — All Rights Reserved</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline">
                    {{ with .Site.Params.github }}
                        <li><a href="{{ . }}" target="_blank"><i class="socicon icon socicon-github icon--xs"></i></a></li>
                    {{ end }}
                    {{ with .Site.Params.linkedin }}
                        <li><a href="{{ . }}" target="_blank"><i class="socicon socicon-linkedin icon icon--xs"></i></a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
