{{ define "main"}}
  <section class="cover unpad--bottom switchable bg--secondary text-center-xs">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-5 mt--3">
                  <h1> {{ .Params.headline }}</h1>
                  <p class="lead">{{ .Params.tagline }}</p>
                  <a class="btn btn--primary type--uppercase inner-link" href="#contact" target="_self"> <span class="btn__text">contact&nbsp;</span> </a> </div>
              <div class="col-sm-6"> <img alt="Mel" src="{{ .Params.profile_image }}"> </div>
          </div>
      </div>
  </section>
  <section>
      <div class="container">
          <div class="row">
              <div class="masonry">
                  <div class="masonry__container masonry--active">
                    {{ range where .Data.Pages.ByDate.Reverse "Section" "project" }}
                      {{ partial "gallery-tile.html" . }}
                    {{ end }}
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="testimonials-1">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <p class="lead"> Trusted by many clients and employers. 
              </div>
              <div class="col-sm-8">
                  <ul class="list-inline social-list">
                      <li> <img alt="IDEO" class="image--xxs" src="https://res.cloudinary.com/jobdoc/image/upload/t_feature_logo/IDEO_LOGO_2014_RGB_FINAL_vlwlhm.png"> </li>
                      <li> <img alt="Shyp" class="image--xxs" src="https://res.cloudinary.com/jobdoc/image/upload/t_feature_logo/2504274_Shyp_logo_vc7eok.jpg"> </li>
                      <li> <img alt="State Department" class="image--xxs" src="https://res.cloudinary.com/jobdoc/image/upload/t_feature_logo/1200px-US_Department_of_State_official_seal.svg_wfd9ad.png"> </li>
                      <li> <img alt="UBS" class="image--xxs" src="https://res.cloudinary.com/jobdoc/image/upload/t_feature_logo/1200px-UBS_Logo.svg_wtkreu.png"> </li>
                      <li> <img alt="Bloomberg Philanthropies" class="image--xxs" src="https://res.cloudinary.com/jobdoc/image/upload/t_feature_logo/2X4_BLOO-Purple-1024x319_cmsuxj.png"> </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <section class="text-center">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-10">
                  <div class="slider" data-paging="true">
                      <ul class="slides">
                          {{ range where .Data.Pages "Section" "testimonial" }}
                            <li>
                                <div class="testimonial">
                                    <blockquote> “{{.Params.quote}}” </blockquote>
                                    <h5>{{.Params.name}}</h5> <span>{{.Params.role}} — {{.Params.company}}</span> </div>
                            </li>
                          {{ end }}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  {{ partial "contact-form.html" . }}
{{ end }}